In [41]:
import pandas as pd 
import numpy as np
from numpy.random import randn

In [42]:
#index levels

outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [43]:
df =pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1 -0.433499  0.085831
   2 -0.871420  1.707375
   3  0.471165  0.644902
G2 1 -0.119823 -0.549950
   2 -0.111464 -0.815061
   3 -1.238269 -0.048874

In [44]:
df.loc['G1']

          A         B
1 -0.433499  0.085831
2 -0.871420  1.707375
3  0.471165  0.644902

In [48]:
df.index.names = ['Groups', 'Num']

In [49]:
df

                   A         B
Groups Num
G1     1   -0.433499  0.085831
       2   -0.871420  1.707375
       3    0.471165  0.644902
G2     1   -0.119823 -0.549950
       2   -0.111464 -0.815061
       3   -1.238269 -0.048874

In [50]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.433499  0.085831
G2     -0.119823 -0.549950

In [51]:
df

                   A         B
Groups Num
G1     1   -0.433499  0.085831
       2   -0.871420  1.707375
       3    0.471165  0.644902
G2     1   -0.119823 -0.549950
       2   -0.111464 -0.815061
       3   -1.238269 -0.048874

In [52]:
df.loc['G2']

            A         B
Num
1   -0.119823 -0.549950
2   -0.111464 -0.815061
3   -1.238269 -0.048874