In [67]:
import numpy as np 
import pandas as pd

In [68]:
labels = ['a','b','c']
my_data = ['1','2','3']
arr = np.array(my_data)
d ={'a':10,'b':20,'c':20}

In [69]:
my_data

['1', '2', '3']

In [70]:
pd.Series(data = my_data)

0    1
1    2
2    3
dtype: object

In [71]:
pd.Series(data=my_data, index=labels)

a    1
b    2
c    3
dtype: object

In [72]:
pd.Series(my_data,labels)

a    1
b    2
c    3
dtype: object

In [73]:
pd.Series(d)

a    10
b    20
c    20
dtype: int64

In [74]:
d

{'a': 10, 'b': 20, 'c': 20}

In [75]:
ser1 = pd.Series([1,2,3,4],['USA','German','Japan','Indonesia'])
ser1

USA          1
German       2
Japan        3
Indonesia    4
dtype: int64

In [76]:
ser2 = pd.Series([1,3,5,7],['USA','German','Japan','Italy'])
ser2

USA       1
German    3
Japan     5
Italy     7
dtype: int64

In [81]:
ser1['German']

2

In [78]:
ser3 = pd.Series(data=labels)
ser3

0    a
1    b
2    c
dtype: object

In [79]:
ser3[0]

'a'

In [80]:
ser1 + ser2

German       5.0
Indonesia    NaN
Italy        NaN
Japan        8.0
USA          2.0
dtype: float64